.ModalForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInput{
    height: 50px;
    position: relative;
    width: 75%;
    padding: 10px;
    outline: none;
    margin: 0px 0px 20px 0px;
}
.formInput:hover{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #4bc8ee42;
}