.AboutMe{
  padding: 0px 60px;
  text-align: center;
  background-image: url(../../../public/images/MainFone.jpg);
  
}
.siteBorder{
  padding: 20px;

}
.site{
  padding: 50px;
  background-color: white;
  border-radius: 24px;
}
.Column6{
  height: 130vh;
  border-radius: 24px;
  margin: 20px 0px;
  border: 1px solid black;
  text-align: left;
}
.skillHead{
  margin: 30px 50px;
  font-weight: 700;
  font-size: 20px;
}

